In [1]:
import pandas as pd

## DataFrames → Tablas 
## Series → Columnas

In [3]:
datos = {'nombre': ["Pedro", "Juan", "Lorena"], "edad": [25, 39, 33]}
datos

{'nombre': ['Pedro', 'Juan', 'Lorena'], 'edad': [25, 39, 33]}

In [4]:
df = pd.DataFrame(datos)
df

   nombre  edad
0   Pedro    25
1    Juan    39
2  Lorena    33

In [5]:
df['nombre']

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [7]:
import pandas as pd 

datos = {'nombre' : ['Ana', 'Luis', 'Carlos'], 'edad': [30, 25, 40]}

df_empleados = pd.DataFrame(datos)

# Obtener la forma (número de filas y columnas)
shape_df = df_empleados.shape

# Obtener los nombres de las columnas
columns_df = df_empleados.columns

# Obtener los índices del DataFrame
index_df = df_empleados.index

# Imprimir resultados
print("Shape:", shape_df)
print("Columnas:", columns_df)
print("Índice:", index_df)

Shape: (3, 2)
Columnas: Index(['nombre', 'edad'], dtype='object')
Índice: RangeIndex(start=0, stop=3, step=1)