In [3]:
nombre = input('Dime tu nombre: ')
print("Hola " + nombre + "!")

Dime tu nombre:  Javier

Hola Javier!

In [4]:
a = int(input("Dime un numero: "))
b = int(input("Dime un numero: "))

Dime un numero:  3
Dime un numero:  6

In [5]:
a + b

9

In [6]:
saludo = "Hola"
nombre = "Ana"
frase = saludo + " " + nombre
frase

'Hola Ana'

In [7]:
edad = 30

In [8]:
frase = f"Hola {nombre}, tienes {edad} años"

In [9]:
frase

'Hola Ana, tienes 30 años'

In [10]:
producto = "manzana"
cantidad = 10
precio = 0.3

print(f"Hay {cantidad} {producto} y su precio total es de {cantidad * precio}")

Hay 10 manzana y su precio total es de 3.0